* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 1200px;
    overflow-x: auto;
}

body {
    font-family: "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}

.content {
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    left: 0px;
    right: 0;
    top: 60px;
    bottom: 0;
    width: auto;
    padding: 20px 20px 60px 20px;
    box-sizing: border-box;
    overflow-y: auto;
    min-width: 1200px;
}

.crumbs {
    margin-bottom: 10px;
}

.btn-crumbs {
    margin-bottom: 30px;
}

.pagination {
    margin: 20px 0;
    text-align: right;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table td,
.el-table th {
    padding: 5px 18px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity .5s;
}

.move-enter,
.move-leave {
    opacity: 0;
}


/*BaseForm*/

.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}


/*Readme*/

.ms-doc .el-checkbox__input.is-disabled+.el-checkbox__label {
    color: #333;
    cursor: pointer;
}


/*Upload*/

.pure-button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
    height: 45px;
}

.el-upload--text {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}

.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    text-align: center;
}

.el-upload--text em {
    font-style: normal;
}


/*VueEditor*/

.ql-container {
    min-height: 400px;
}

.ql-snow .ql-tooltip {
    transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
    margin-top: 20px;
}

.success {
    color: #13ce66;
}

.warning {
    color: #f7ba2a;
}

.danger {
    color: #ff4949;
}

.t-success {
    background-color: #13ce66 !important;
}

.t-warning {
    background-color: #f7ba2a !important;
}

.t-danger {
    background-color: #ff4949 !important;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

table tr td.no-padding {
    padding: 0;
    width: 100%;
    height: 100%;
}

table tr td.no-padding [class ^=klass] {
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
}

table tr td.no-padding .cell {
    width: 100%;
    height: 100%;
    padding: 0;
}

.crumbs {
    position: relative;
}

.klass-1 {
    background-color: #fff;
}

.klass-2 {
    background-color: #58B7FF;
}

.klass-3 {
    background-color: #20A0FF;
}

.klass-4 {
    background-color: #1D8CE0;
}

.klass-5 {
    background-color: #FF4949;
}

.overall {
    padding: 0 20px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
}

.cpu-detail {
    flex: 1;
    height: 300px;
}

.cpu-static {
    height: 270px;
}

.cpu-static .el-col {
    text-align: center;
    border-right: 1px solid #d1dbe5;
    height: 190px;
}

.cpu-static .el-col:last-child {
    border-right: none;
}

.cpu-static h3 {
    margin-bottom: 15px;
    margin-top: 20px;
}